:80 {
    handle /grafana/* {
        reverse_proxy grafana:3000
    }
    handle /prometheus/* {
        uri strip_prefix /prometheus
        reverse_proxy prometheus:9090
    }
    handle /alertmanager/* {
        uri strip_prefix /alertmanager
        reverse_proxy alertmanager:9093
    }
    handle {
        reverse_proxy simulator-ui:8080
    }
}
